<h2 class="text-center">{{quest.title}}</h2>
<p class="text-center">{{quest.description}}</p>
<div class="card-deck">

    <div class="card rounded-top bx myQ" ng-repeat="option in quest.options"  ng-click="select($index+1)" style="height:300px">
        <img class="card-img-top" style="height:180px" src={{option.image}} alt="Card image">
        <div class="card-body row">
          <h4 class="card-title col-10">{{option.title}}</h4><h5 class="text-center" ng-hide="world">{{percent[$index] | number : 1}}%</h5><i ng-show="selected === ($index + 1)" class="fa fa-check col-1 text-right" aria-hidden="true"></i>
          <p class="card-text">{{option.description}}</p>
        </div>
      </div>

      <!-- <div class="card rounded-top bx" ng-class="hvr2 + clk2" ng-mouseleave="hvr2 = 'not-hvrd2'" ng-mouseover="hvr2 = cs2" ng-init="hvr2 = 'not-hvrd2'" ng-click="select(2)" style="height:300px">
        <img class="card-img-top" style="height:180px" src={{quest.op2image}} alt="Card image">
        <div class="card-body row">
            <h4 class="card-title col-10">{{quest.op2title}}</h4><i class="fa fa-check col-1 text-right" aria-hidden="true"></i>
            <p class="card-text">{{quest.op2descr}}</p>
          </div>
      </div>
      <div class="card rounded-top bx" ng-class="hvr3 + clk3" ng-mouseleave="hvr3 = 'not-hvrd3'" ng-mouseover="hvr3 = cs3" ng-init="hvr3 = 'not-hvrd3'" ng-click="select(3)" style="height:300px">
        <img class="card-img-top" style="height:180px" src={{quest.op3image}} alt="Card image">
        <div class="card-body row">
            <h4 class="card-title col-10">{{quest.op3title}}</h4><i class="fa fa-check col-1 text-right" aria-hidden="true"></i>
            <p class="card-text">{{quest.op3descr}}</p>
          </div>
      </div> -->
  </div>
