body {
    background-color: #cefcff;
}

.myCard {
    background-color: #ebbb4a;
    /* border: 4 solid #3a3a3c; */
}

h1 {
    color: 	#c9252f;
}

.in2 {
    margin-top: 1px;
}

.in3 {
    margin-top: 36px;
}

label {
    margin-bottom: 0px;
}
.results {
    border-top: 2px solid black;
}

.btn {
    margin-left: 5px;
}

.done {
    color: grey;
    text-decoration: line-through;
}

.striped {
    background-color: lightblue;
}
.evenStriped {
    background-color: white;
}

.lft {
    border-left: solid black;
}
.rit {
    border-right: solid black;
}
.top {
    border-top: solid black;
}
.btm {
    border-bottom: solid black;
}

.anyClass {
    min-height:100%;
    overflow-y: scroll;
  }

.ifa1 {
    font-size: 28px;
}

.my-head {
    margin : 10px;
    height: 200px;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .hvrd1 {
    background-color: lime;
    /* border-width: 5px;
    border-color: red; */
  }

  .hvrd2 {
    background-color: lime;
    /* border-width: 5px;
    border-color: red; */
  }

  .hvrd3 {
    background-color: lime;
    /* border-width: 5px;
    border-color: red; */
  }

  .fhvrd1 {

    border-width: 5px;
    border-color: yellow;
  }

  .fhvrd2 {

    border-width: 5px;
    border-color: yellow;
  }

  .fhvrd3 {

    border-width: 5px;
    border-color: yellow;
  }

  /* .not-hvrd1 {

    border-width: 0px;
  }

  .not-hvrd2 {

    border-width: 0px;
  }

  .not-hvrd3 {

    border-width: 0px;
  } */

  .clicked {
    background-color: aquamarine;
    /* border-color: blue; */
  }

  .stard {
    color: #ebbb4a;
  }

  .bx {
    box-sizing: border-box;
  }

  /* sign-up */

  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}